@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&family=Roboto:wght@400;500&display=swap');
body{
	width: 100vw;
	background: #fff;
	/* background: linear-gradient(180deg, rgba(251, 245, 255, 1) 0%, rgba(255, 255, 255, 1) 100%); */
	background: linear-gradient(180deg, rgba(187, 133, 255, 1) 0%, rgba(255, 244, 251, 1) 20%);
	/* filter: blur(50px);  */
}
#root{
	width: 100vw;
}
.main{
	width: 80%;
	margin: auto;
}
.tabs {
	padding-top: 50px;
}

.tab {
	color: #8643DC;
	font-family: Red Hat Display;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.tab::after {
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	margin-top: 10px;
	flex-shrink: 0;
	background: #8643DC;
}


.header_texts {
	display: flex;
	justify-content: space-between;
}

.header_text {
	width: 512px;
	margin: 0;

	color: #21232D;
	font-family: Roboto;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 52px;
}

.email {
	color: #8643DC;
	font-family: Roboto;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration-line: underline;
	text-transform: lowercase;
}
.group {
	position: relative;
	margin-top: 50px;
	margin-bottom: 45px;
}

.group:last-child {
	margin-bottom: 30px;
}

input {
	color: #21232D;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #DAD2E3;
	background: transparent;
}

input:focus {
	outline: none;
}

.label_input {

	color: #A8A0B0;
	font-family: Red Hat Display;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

/* active  */
input:focus~label,
input:valid~label {
	top: -20px;
	font-size: 14px;
	color: #8643DC;
}

.bar {
	position: relative;
	display: block;
	width: 101%;
}

.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #8643DC;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

/* active  */
input:focus~.bar:before,
input:focus~.bar:after {
	width: 50%;
}

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active  */
input:focus~.highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.button_send {
	width: 200px;
	height: 60px;
	flex-shrink: 0;
	border: none;
	border-radius: 100px;
	background: #8643DC;

	color: #FFF;
	text-align: center;
	font-family: Red Hat Display;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.file_label {
	display: flex;
}

#file_input {
	display: none;
	visibility: none;
}